.ido-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* sm 小屏 */
@media(min-width:576px) {
    .ido-container {
        width: 540px;
    }
}

/* md 中屏 */
@media(min-width:768px) {
    .ido-container {
        width: 720px;
    }
}

/* lg 大屏 */
@media(min-width:992px) {
    .ido-container {
        width: 960px;
    }
}

/* xl 超大屏 */
@media(min-width:1200px) {
    .ido-container {
        width: 1140px;
    }
}

.ido-row {
    margin-left: -15px;
    margin-right: -15px;
}

/* 给列加边距 */
.ido-col-1,.ido-col-2,.ido-col-3,.ido-col-4,.ido-col-5,.ido-col-6,.ido-col-7,.ido-col-8,.ido-col-9,.ido-col-10,.ido-col-11,.ido-col-12,
.ido-col-sm-1,.ido-col-sm-2,.ido-col-sm-3,.ido-col-sm-4,.ido-col-sm-5,.ido-col-sm-6,.ido-col-sm-7,.ido-col-sm-8,.ido-col-sm-9,.ido-col-sm-10,.ido-col-sm-11,.ido-col-sm-12,
.ido-col-md-1,.ido-col-md-2,.ido-col-md-3,.ido-col-md-4,.ido-col-md-5,.ido-col-md-6,.ido-col-md-7,.ido-col-md-8,.ido-col-md-9,.ido-col-md-10,.ido-col-md-11,.ido-col-md-12,
.ido-col-lg-1,.ido-col-lg-2,.ido-col-lg-3,.ido-col-lg-4,.ido-col-lg-5,.ido-col-lg-6,.ido-col-lg-7,.ido-col-lg-8,.ido-col-lg-9,.ido-col-lg-10,.ido-col-lg-11,.ido-col-lg-12,
.ido-col-xl-1,.ido-col-xl-2,.ido-col-xl-3,.ido-col-xl-4,.ido-col-xl-5,.ido-col-xl-6,.ido-col-xl-7,.ido-col-xl-8,.ido-col-xl-9,.ido-col-xl-10,.ido-col-xl-11,.ido-col-xl-12 {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
}


.ido-col-1,.ido-col-2,.ido-col-3,.ido-col-4,.ido-col-5,.ido-col-6,.ido-col-7,.ido-col-8,.ido-col-9,.ido-col-10,.ido-col-11,.ido-col-12 {
    float: left;
}

.ido-col-1 {
    width: 8.33333333%;
}
.ido-col-2 {
    width: 16.66666667%;
}
.ido-col-3 {
    width: 25%;
}
.ido-col-4 {
    width: 33.33333333%;
}
.ido-col-5 {
    width: 41.66666667%;
}
.ido-col-6 {
    width: 50%;
}

.ido-col-7 {
    width: 58.33333333%;
}

.ido-col-8 {
    width: 66.66666667%;
}

.ido-col-9 {
    width: 75%;
}

.ido-col-10 {
    width: 83.33333333%;
}

.ido-col-11 {
    width:91.66666667%;
}

.ido-col-12 {
    width:100%;
}


.ido-col-offset-0 {
    margin-left: 0;
}
.ido-col-offset-1 {
    margin-left: 8.33333333%;
}
.ido-col-offset-2 {
    margin-left:16.66666667%;
}
.ido-col-offset-3 {
    margin-left: 25%;
}
.ido-col-offset-4 {
    margin-left: 33.33333333%;
}
.ido-col-offset-5 {
    margin-left: 41.66666667%;
}
.ido-col-offset-6 {
    margin-left: 50%;
}
.ido-col-offset-7 {
    margin-left: 58.33333333%;
}
.ido-col-offset-8 {
    margin-left: 66.66666667%;
}
.ido-col-offset-9 {
    margin-left: 75%;
}
.ido-col-offset-10 {
    margin-left: 83.33333333%;
}
.ido-col-offset-11 {
    margin-left: 91.66666667%;
}
.ido-col-offset-12 {
    margin-left: 100%;
}


.ido-col-push-0 {
    left: auto;
}
.ido-col-push-1 {
    left: 8.33333333%;
}
.ido-col-push-2 {
    left:16.66666667%;
}
.ido-col-push-3 {
    left: 25%;
}
.ido-col-push-4 {
    left: 33.33333333%;
}
.ido-col-push-5 {
    left: 41.66666667%;
}
.ido-col-push-6 {
    left: 50%;
}
.ido-col-push-7 {
    left: 58.33333333%;
}
.ido-col-push-8 {
    left: 66.66666667%;
}
.ido-col-push-9 {
    left: 75%;
}
.ido-col-push-10 {
    left: 83.33333333%;
}
.ido-col-push-11 {
    left: 91.66666667%;
}
.ido-col-push-12 {
    left: 100%;
}


.ido-col-pull-0 {
    right: auto;
}
.ido-col-pull-1 {
    right: 8.33333333%;
}
.ido-col-pull-2 {
    right:16.66666667%;
}
.ido-col-pull-3 {
    right: 25%;
}
.ido-col-pull-4 {
    right: 33.33333333%;
}
.ido-col-pull-5 {
    right: 41.66666667%;
}
.ido-col-pull-6 {
    right: 50%;
}
.ido-col-pull-7 {
    right: 58.33333333%;
}
.ido-col-pull-8 {
    right: 66.66666667%;
}
.ido-col-pull-9 {
    right: 75%;
}
.ido-col-pull-10 {
    right: 83.33333333%;
}
.ido-col-pull-11 {
    right: 91.66666667%;
}
.ido-col-pull-12 {
    right: 100%;
}

/* sm 小屏 */
@media(min-width:576px) {
    .ido-col-sm-1,.ido-col-sm-2,.ido-col-sm-3,.ido-col-sm-4,.ido-col-sm-5,.ido-col-sm-6,.ido-col-sm-7,.ido-col-sm-8,.ido-col-sm-9,.ido-col-sm-10,.ido-col-sm-11,.ido-col-sm-12 {
        float: left;
    }
    
    .ido-col-sm-1 {
        width: 8.33333333%;
    }
    .ido-col-sm-2 {
        width: 16.66666667%;
    }
    .ido-col-sm-3 {
        width: 25%;
    }
    .ido-col-sm-4 {
        width: 33.33333333%;
    }
    .ido-col-sm-5 {
        width: 41.66666667%;
    }
    .ido-col-sm-6 {
        width: 50%;
    }
    
    .ido-col-sm-7 {
        width: 58.33333333%;
    }
    
    .ido-col-sm-8 {
        width: 66.66666667%;
    }
    
    .ido-col-sm-9 {
        width: 75%;
    }
    
    .ido-col-sm-10 {
        width: 83.33333333%;
    }
    
    .ido-col-sm-11 {
        width:91.66666667%;
    }
    
    .ido-col-sm-12 {
        width:100%;
    }
    
    .ido-col-sm-offset-0 {
        margin-left: 0;
    }
    .ido-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .ido-col-sm-offset-2 {
        margin-left:16.66666667%;
    }
    .ido-col-sm-offset-3 {
        margin-left: 25%;
    }
    .ido-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .ido-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .ido-col-sm-offset-6 {
        margin-left: 50%;
    }
    .ido-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .ido-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .ido-col-sm-offset-9 {
        margin-left: 75%;
    }
    .ido-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .ido-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .ido-col-sm-offset-12 {
        margin-left: 100%;
    }
    
    
    .ido-col-sm-push-0 {
        left: auto;
    }
    .ido-col-sm-push-1 {
        left: 8.33333333%;
    }
    .ido-col-sm-push-2 {
        left:16.66666667%;
    }
    .ido-col-sm-push-3 {
        left: 25%;
    }
    .ido-col-sm-push-4 {
        left: 33.33333333%;
    }
    .ido-col-sm-push-5 {
        left: 41.66666667%;
    }
    .ido-col-sm-push-6 {
        left: 50%;
    }
    .ido-col-sm-push-7 {
        left: 58.33333333%;
    }
    .ido-col-sm-push-8 {
        left: 66.66666667%;
    }
    .ido-col-sm-push-9 {
        left: 75%;
    }
    .ido-col-sm-push-10 {
        left: 83.33333333%;
    }
    .ido-col-sm-push-11 {
        left: 91.66666667%;
    }
    .ido-col-sm-push-12 {
        left: 100%;
    }
    
    
    .ido-col-sm-pull-0 {
        right: auto;
    }
    .ido-col-sm-pull-1 {
        right: 8.33333333%;
    }
    .ido-col-sm-pull-2 {
        right:16.66666667%;
    }
    .ido-col-sm-pull-3 {
        right: 25%;
    }
    .ido-col-sm-pull-4 {
        right: 33.33333333%;
    }
    .ido-col-sm-pull-5 {
        right: 41.66666667%;
    }
    .ido-col-sm-pull-6 {
        right: 50%;
    }
    .ido-col-sm-pull-7 {
        right: 58.33333333%;
    }
    .ido-col-sm-pull-8 {
        right: 66.66666667%;
    }
    .ido-col-sm-pull-9 {
        right: 75%;
    }
    .ido-col-sm-pull-10 {
        right: 83.33333333%;
    }
    .ido-col-sm-pull-11 {
        right: 91.66666667%;
    }
    .ido-col-sm-pull-12 {
        right: 100%;
    }
}

/* md 中屏 */
@media(min-width:768px) {
    .ido-col-md-1,.ido-col-md-2,.ido-col-md-3,.ido-col-md-4,.ido-col-md-5,.ido-col-md-6,.ido-col-md-7,.ido-col-md-8,.ido-col-md-9,.ido-col-md-10,.ido-col-md-11,.ido-col-md-12 {
        float: left;
    }
    
    .ido-col-md-1 {
        width: 8.33333333%;
    }
    .ido-col-md-2 {
        width: 16.66666667%;
    }
    .ido-col-md-3 {
        width: 25%;
    }
    .ido-col-md-4 {
        width: 33.33333333%;
    }
    .ido-col-md-5 {
        width: 41.66666667%;
    }
    .ido-col-md-6 {
        width: 50%;
    }
    
    .ido-col-md-7 {
        width: 58.33333333%;
    }
    
    .ido-col-md-8 {
        width: 66.66666667%;
    }
    
    .ido-col-md-9 {
        width: 75%;
    }
    
    .ido-col-md-10 {
        width: 83.33333333%;
    }
    
    .ido-col-md-11 {
        width:91.66666667%;
    }
    
    .ido-col-md-12 {
        width:100%;
    }
    
    .ido-col-md-offset-0 {
        margin-left: 0;
    }
    .ido-col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .ido-col-md-offset-2 {
        margin-left:16.66666667%;
    }
    .ido-col-md-offset-3 {
        margin-left: 25%;
    }
    .ido-col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .ido-col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .ido-col-md-offset-6 {
        margin-left: 50%;
    }
    .ido-col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .ido-col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .ido-col-md-offset-9 {
        margin-left: 75%;
    }
    .ido-col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .ido-col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .ido-col-md-offset-12 {
        margin-left: 100%;
    }
    
    
    .ido-col-md-push-0 {
        left: auto;
    }
    .ido-col-md-push-1 {
        left: 8.33333333%;
    }
    .ido-col-md-push-2 {
        left:16.66666667%;
    }
    .ido-col-md-push-3 {
        left: 25%;
    }
    .ido-col-md-push-4 {
        left: 33.33333333%;
    }
    .ido-col-md-push-5 {
        left: 41.66666667%;
    }
    .ido-col-md-push-6 {
        left: 50%;
    }
    .ido-col-md-push-7 {
        left: 58.33333333%;
    }
    .ido-col-md-push-8 {
        left: 66.66666667%;
    }
    .ido-col-md-push-9 {
        left: 75%;
    }
    .ido-col-md-push-10 {
        left: 83.33333333%;
    }
    .ido-col-md-push-11 {
        left: 91.66666667%;
    }
    .ido-col-md-push-12 {
        left: 100%;
    }
    
    
    .ido-col-md-pull-0 {
        right: auto;
    }
    .ido-col-md-pull-1 {
        right: 8.33333333%;
    }
    .ido-col-md-pull-2 {
        right:16.66666667%;
    }
    .ido-col-md-pull-3 {
        right: 25%;
    }
    .ido-col-md-pull-4 {
        right: 33.33333333%;
    }
    .ido-col-md-pull-5 {
        right: 41.66666667%;
    }
    .ido-col-md-pull-6 {
        right: 50%;
    }
    .ido-col-md-pull-7 {
        right: 58.33333333%;
    }
    .ido-col-md-pull-8 {
        right: 66.66666667%;
    }
    .ido-col-md-pull-9 {
        right: 75%;
    }
    .ido-col-md-pull-10 {
        right: 83.33333333%;
    }
    .ido-col-md-pull-11 {
        right: 91.66666667%;
    }
    .ido-col-md-pull-12 {
        right: 100%;
    }
}

/* lg 大屏 */
@media(min-width:992px) {
    .ido-col-lg-1,.ido-col-lg-2,.ido-col-lg-3,.ido-col-lg-4,.ido-col-lg-5,.ido-col-lg-6,.ido-col-lg-7,.ido-col-lg-8,.ido-col-lg-9,.ido-col-lg-10,.ido-col-lg-11,.ido-col-lg-12 {
        float: left;
    }
    
    .ido-col-lg-1 {
        width: 8.33333333%;
    }
    .ido-col-lg-2 {
        width: 16.66666667%;
    }
    .ido-col-lg-3 {
        width: 25%;
    }
    .ido-col-lg-4 {
        width: 33.33333333%;
    }
    .ido-col-lg-5 {
        width: 41.66666667%;
    }
    .ido-col-lg-6 {
        width: 50%;
    }
    
    .ido-col-lg-7 {
        width: 58.33333333%;
    }
    
    .ido-col-lg-8 {
        width: 66.66666667%;
    }
    
    .ido-col-lg-9 {
        width: 75%;
    }
    
    .ido-col-lg-10 {
        width: 83.33333333%;
    }
    
    .ido-col-lg-11 {
        width:91.66666667%;
    }
    
    .ido-col-lg-12 {
        width:100%;
    }
    
    .ido-col-lg-offset-0 {
        margin-left: 0;
    }
    .ido-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .ido-col-lg-offset-2 {
        margin-left:16.66666667%;
    }
    .ido-col-lg-offset-3 {
        margin-left: 25%;
    }
    .ido-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .ido-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .ido-col-lg-offset-6 {
        margin-left: 50%;
    }
    .ido-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .ido-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .ido-col-lg-offset-9 {
        margin-left: 75%;
    }
    .ido-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .ido-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .ido-col-lg-offset-12 {
        margin-left: 100%;
    }
    
    
    .ido-col-lg-push-0 {
        left: auto;
    }
    .ido-col-lg-push-1 {
        left: 8.33333333%;
    }
    .ido-col-lg-push-2 {
        left:16.66666667%;
    }
    .ido-col-lg-push-3 {
        left: 25%;
    }
    .ido-col-lg-push-4 {
        left: 33.33333333%;
    }
    .ido-col-lg-push-5 {
        left: 41.66666667%;
    }
    .ido-col-lg-push-6 {
        left: 50%;
    }
    .ido-col-lg-push-7 {
        left: 58.33333333%;
    }
    .ido-col-lg-push-8 {
        left: 66.66666667%;
    }
    .ido-col-lg-push-9 {
        left: 75%;
    }
    .ido-col-lg-push-10 {
        left: 83.33333333%;
    }
    .ido-col-lg-push-11 {
        left: 91.66666667%;
    }
    .ido-col-lg-push-12 {
        left: 100%;
    }
    
    
    .ido-col-lg-pull-0 {
        right: auto;
    }
    .ido-col-lg-pull-1 {
        right: 8.33333333%;
    }
    .ido-col-lg-pull-2 {
        right:16.66666667%;
    }
    .ido-col-lg-pull-3 {
        right: 25%;
    }
    .ido-col-lg-pull-4 {
        right: 33.33333333%;
    }
    .ido-col-lg-pull-5 {
        right: 41.66666667%;
    }
    .ido-col-lg-pull-6 {
        right: 50%;
    }
    .ido-col-lg-pull-7 {
        right: 58.33333333%;
    }
    .ido-col-lg-pull-8 {
        right: 66.66666667%;
    }
    .ido-col-lg-pull-9 {
        right: 75%;
    }
    .ido-col-lg-pull-10 {
        right: 83.33333333%;
    }
    .ido-col-lg-pull-11 {
        right: 91.66666667%;
    }
    .ido-col-lg-pull-12 {
        right: 100%;
    }
}

/* xl 超大屏 */
@media(min-width:1200px) {
    .ido-col-xl-1,.ido-col-xl-2,.ido-col-xl-3,.ido-col-xl-4,.ido-col-xl-5,.ido-col-xl-6,.ido-col-xl-7,.ido-col-xl-8,.ido-col-xl-9,.ido-col-xl-10,.ido-col-xl-11,.ido-col-xl-12 {
        float: left;
    }
    
    .ido-col-xl-1 {
        width: 8.33333333%;
    }
    .ido-col-xl-2 {
        width: 16.66666667%;
    }
    .ido-col-xl-3 {
        width: 25%;
    }
    .ido-col-xl-4 {
        width: 33.33333333%;
    }
    .ido-col-xl-5 {
        width: 41.66666667%;
    }
    .ido-col-xl-6 {
        width: 50%;
    }
    
    .ido-col-xl-7 {
        width: 58.33333333%;
    }
    
    .ido-col-xl-8 {
        width: 66.66666667%;
    }
    
    .ido-col-xl-9 {
        width: 75%;
    }
    
    .ido-col-xl-10 {
        width: 83.33333333%;
    }
    
    .ido-col-xl-11 {
        width:91.66666667%;
    }
    
    .ido-col-xl-12 {
        width:100%;
    }
    
    .ido-col-xl-offset-0 {
        margin-left: 0;
    }
    .ido-col-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .ido-col-xl-offset-2 {
        margin-left:16.66666667%;
    }
    .ido-col-xl-offset-3 {
        margin-left: 25%;
    }
    .ido-col-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .ido-col-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .ido-col-xl-offset-6 {
        margin-left: 50%;
    }
    .ido-col-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .ido-col-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .ido-col-xl-offset-9 {
        margin-left: 75%;
    }
    .ido-col-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .ido-col-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .ido-col-xl-offset-12 {
        margin-left: 100%;
    }
    
    
    .ido-col-xl-push-0 {
        left: auto;
    }
    .ido-col-xl-push-1 {
        left: 8.33333333%;
    }
    .ido-col-xl-push-2 {
        left:16.66666667%;
    }
    .ido-col-xl-push-3 {
        left: 25%;
    }
    .ido-col-xl-push-4 {
        left: 33.33333333%;
    }
    .ido-col-xl-push-5 {
        left: 41.66666667%;
    }
    .ido-col-xl-push-6 {
        left: 50%;
    }
    .ido-col-xl-push-7 {
        left: 58.33333333%;
    }
    .ido-col-xl-push-8 {
        left: 66.66666667%;
    }
    .ido-col-xl-push-9 {
        left: 75%;
    }
    .ido-col-xl-push-10 {
        left: 83.33333333%;
    }
    .ido-col-xl-push-11 {
        left: 91.66666667%;
    }
    .ido-col-xl-push-12 {
        left: 100%;
    }
    
    
    .ido-col-xl-pull-0 {
        right: auto;
    }
    .ido-col-xl-pull-1 {
        right: 8.33333333%;
    }
    .ido-col-xl-pull-2 {
        right:16.66666667%;
    }
    .ido-col-xl-pull-3 {
        right: 25%;
    }
    .ido-col-xl-pull-4 {
        right: 33.33333333%;
    }
    .ido-col-xl-pull-5 {
        right: 41.66666667%;
    }
    .ido-col-xl-pull-6 {
        right: 50%;
    }
    .ido-col-xl-pull-7 {
        right: 58.33333333%;
    }
    .ido-col-xl-pull-8 {
        right: 66.66666667%;
    }
    .ido-col-xl-pull-9 {
        right: 75%;
    }
    .ido-col-xl-pull-10 {
        right: 83.33333333%;
    }
    .ido-col-xl-pull-11 {
        right: 91.66666667%;
    }
    .ido-col-xl-pull-12 {
        right: 100%;
    }
}


.ido-d-none {
    display: none !important;
}
.ido-d-block {
    display: block !important;
}
/* sm 小屏 */
@media(min-width:576px) {
    .ido-d-sm-none {
        display: none !important;
    }
    .ido-d-sm-block {
        display: block !important;
    }
}

/* md 中屏 */
@media(min-width:768px) {
    .ido-d-md-none {
        display: none !important;
    }
    .ido-d-md-block {
        display: block !important;
    }
}

/* lg 大屏 */
@media(min-width:992px) {
    .ido-d-lg-none {
        display: none !important;
    }
    .ido-d-lg-block {
        display: block !important;
    }
}

/* xl 超大屏 */
@media(min-width:1200px) {
    .ido-d-xl-none {
        display: none !important;
    }
    .ido-d-xl-block {
        display: block !important;
    }
}


/* 清除浮动 */
.ido-clearfix:after,
.ido-clearfix:before,
.ido-container:after,
.ido-container:before,
.ido-row:after,
.ido-row:before {
    display: table;
    content: '';
}
.ido-clearfix:after,
.ido-container:after,
.ido-row:after {
    clear: both;
}